@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

:root {
  --blue-grad: linear-gradient(to right, 315deg, #ffa69e 0%, #5d4954 74%);
  --light-black: rgb(51, 51, 51);
  --red: rgb(220, 58, 15);
  --grey: #d6dbdf;
  --grade-grey: #2c3e50; 
  --margo: #FFEFBA;
  --light-beige: #6D6027;
  --light-purple: #302b63;

  --grey-grad: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

html, body {
  height: 100% ;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: var(--light-black);
  scroll-behavior: smooth;
}
.nuxt-link-exact-active.nuxt-link-active {
  color: var(--margo);
  position: relative;
}
.main-nav a {
  color: var(--grey);
  position: relative;
}
a {
  color: var(--grade-grey);
  position: relative;
}
a:hover {
  color: var(--light-beige);
  position: relative;
  text-decoration: none;
}
.navbar {
  z-index: 9;
  width: 100%;
}
.nav-pills.artist-navs .nav-link.active,
.nav-pills .show > .nav-link {
  background-image: var(--grey-grad) !important;
}
#carousel-fade {
    width: 100%;
    height: 30rem;
    overflow: hidden;
    top: 0;
  }
  #event-card-home {
    height: 30rem;
  }
.carousel-caption .display-2,
.navbar {
  padding: .8rem;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1rem !important;
}
.carousel-item{
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
}
.action-buttons .btn{
  width: 10.4375rem;
  margin: auto 10px;
}
.btn-primary {
  background-color: #6648b1;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  border: 1px solid #563d7c;
}
button {
  transition: all 0.5s;
  cursor: pointer;
}
button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 20px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
  margin-right: 16px;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
/* line above what we do */
.title::before {
  content: '';
  background: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(50px);
}
/* overlaps the first line */
.title::after {
  content: '';
  background:linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(6px);
}
.event-title::before {
  content: '';
  background: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(45px);
}
/* overlaps the first line */
.event-title::after {
  content: '';
  background:linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(4px);
}
/* profile page settings */
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  background: #1d1617;
  z-index: 2;
  transition: .5s;
}
#sidenav nav ul li{
  list-style: none;
  margin: 50px 20px;
}
#sidenav nav ul li a{
  text-decoration: none;
  color: #fff;
}
#menuBtn{
  width: 50px;
  position: fixed;
  left:40px;
  top: 60px;
  z-index: 2;
  cursor: pointer;
}

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.gif {
  max-width: 100%;
}
.social a {
  padding: 3rem;
  font-size: 4.5rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g{
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-linkedin {
  color: #5381e2;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-linkedin:hover {
color: #d5d5d5;
}
footer {
  background-image:linear-gradient(315deg, #485461 10%, #28313b 40%);
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.product-price {
  transform: translateX(1.875rem);
  min-height: 6.875rem;
}
.product-price {
  background: var(--light-black) ;
}
 #addToCart {
  background: var(--red);
  outline: none !important;
  border: none !important;
}
.product-price::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    right: 0px;
    border-style: solid;
    border-color: rgb(0, 0, 0) transparent transparent rgb(0, 0, 0);
    border-width: 5px;
}

.mini-images {
  border-right: 1px solid var(--grey);
  margin-bottom: 5px;
}
.mini-images .images img{
  margin-top: 5px;
}

#productDescCard {
  margin: 3rem 0;
}
.card-text {
  margin-top: 1.875rem;
  display: flex;
}
.card-text p{
  margin-left: 1rem;
}


.event-month {
  color: var(--light-purple);
}
.event-date {
  font-size:  1rem;
}
.event-card img {
  height: 17.875rem;
  z-index: 1;
}
.event-card {
  border-radius: 0.5rem;
  width: 20rem;
}
.event-price {
  z-index: 2;
  transform: translateY(-17.5rem);
}
.event-card-body {
  line-height: 0.3rem;
}
.event-card-body .event-venue {
  font-size: 0.8rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 3em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .product-price {
    transform: translateX(-0.125rem);
  }
  .product-price::after{
    display: none;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 400;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
  .product-price::after{
    display: none;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








